<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.piao888.springboot.mapper.GradeMapper">

    <resultMap id="allStudent" type="top.piao888.springboot.dto.GradeDTO">
        <id property="id" column="id"/>
        <!--这样的方式如果存在一样的dname会被去重-->
        <result property="name" column="name"/>
        <!--        <collection property="users" javaType="java.util.List" ofType="top.piao888.springboot.domain.User">-->
        <!--            <id property="did" column="did"/>-->
        <!--            <result property="dname" column="dname"/>-->
        <!--            <result property="gradeId" column="grade_id"/>-->
        <!--        </collection>-->
        <collection property="users" javaType="java.util.List" ofType="top.piao888.springboot.domain.User">
            <result property="dname" column="dname"/>
        </collection>
    </resultMap>

    <select id="getAllStudent" resultMap="allStudent">
        select g.id id, g.name name, u.did did, u.dname dname, u.grade_id gradeId
        from grade g
                 left join user u on g.id = u.grade_id
    </select>
    <!-- allStudentCollection 查询与 allStudentAssociation 查询所依赖的查询-->
    <resultMap id="userMap" type="top.piao888.springboot.domain.User">
        <id property="did" column="did"/>
        <result property="dname" column="dname"/>
        <result property="gradeId" column="grade_id"/>
    </resultMap>
    <!-- 这里配合上面 返回User-->
    <select id="selectUserByGradeId" resultType="top.piao888.springboot.domain.User">
        <!--    <select id="selectUserByGradeId" resultMap="userMap">-->
        SELECT dname
        FROM user
        WHERE grade_id = #{id}
    </select>


    <resultMap id="allStudentCollection" type="top.piao888.springboot.dto.GradeDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="users" javaType="java.util.List" column="id" ofType="top.piao888.springboot.domain.User"
                    select="selectUserByGradeId"/>
    </resultMap>

    <select id="getAllStudentResultMap" parameterType="int" resultMap="allStudentCollection">
        select *
        from grade
        where id = #{id}
    </select>


    <resultMap id="allStudentAssociation" type="top.piao888.springboot.dto.GradeDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!--association 的column参数是入参 且可以有多个入参 column="{prop1=col1,prop2=col2}"-->
        <!--   使用  association  通常是1对1的状态下，或者多对一的状态下使用，因为查询出来的数据 没法指定其真正的类型
                比如说这里的 javaType 查出来的如果是一个集合只能使用List 去接收
          -->
        <association property="users" column="id" javaType="java.util.List" select="selectUserByGradeId"/>
    </resultMap>

    <select id="getAllStudentAssociation" parameterType="int" resultMap="allStudentAssociation">
        select *
        from grade
        where id = #{id}
    </select>

    <select id="mysqlAllStudent" resultType="top.piao888.springboot.dto.GradeMysqlDTO">
        SELECT id, name, GROUP_CONCAT('id:', did, 'name:', u.dname) users
        from grade g
                 left join user u on g.id = u.grade_id
        GROUP BY g.id
    </select>


    <select id="getAll" resultType="top.piao888.springboot.domain.Grade">
        select *
        from grade
    </select>

    <delete id="delete" parameterType="int">
        delete
        from grade
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="top.piao888.springboot.domain.Grade">
        insert into grade(id, name)
        values (#{id}, #{name}
    </insert>
</mapper>