<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.piao888.springboot.mapper.UserMapper">
    <select id="getAll" resultType="top.piao888.springboot.domain.User">
        select *
        from user
    </select>
    <delete id="delete" parameterType="int">
        delete
        from user
        where did = #{id}
    </delete>
    <insert id="insert" parameterType="top.piao888.springboot.domain.User">
        insert into user(dname, grade_id)
        values (#{dname}, #{gradeId})
    </insert>

</mapper>